@import "tailwindcss";

:root {
  --background: #1F1F28;
  --card: #2A2A37;
  --border: #44475A;

  --text: #F2F2F7;
  --text-muted: #B8B8C7;

  --primary: #475841;

  --skill-item: #44475A;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
}

.card {
  background-color: var(--card);
  border-color: var(--border);
}

.skills-item {
  background-color: var(--skill-item);
}

.muted-text {
  color: var(--text-muted)
}

.button {
  background-color: var(--primary);
}